/* *{
 color: rgba(0, 0, 0, 0.795);
} */

.login-container{
    height: 100vh;
    max-height: 1120px;
    width: 100%;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: center;
}

.login-container .form{  
    box-shadow: -5px -5px 5px rgba(0, 0, 0, 0.30); 
    width: auto;
    min-width: 30%;
    border-radius: 8px;
    padding: 12px;
    background: #ffffff;;
    justify-content: center;
    text-align: center;
}

.login-container .form .h1{
    width: 100%;
    background: transparent;
    margin: 3% 0;
}

.login-container .form form{  
    width: auto;
    padding: 12px;
    margin-top:  10%;
    background: transparent;
    width: auto;
    display: grid;
}

.login-container .form form input{
    width: auto;
    border-radius: 8px;
    border-bottom: 1px solid;
    background: transparent;
    padding: 6px 12px;
    font-size: 16px;
    margin: 3% 5%;
}

.login-container .form form button{
    color: #FFFFFF;
    background: -webkit-gradient(linear, left top, right top, from(#c40505), to(#110000));
    border: none;
    border-radius: 8px;
    font-size: 16px;
    padding: 10px 8px;
    margin: 5%;
    width: auto;
    text-align: center;
    transition: filter 0.2s;
    font-weight: 700;
}

.login-container .form form button:hover{
    filter: brightness(70%) ;
}

.login-container .form form .link-container{
    background: #FFFFFF;
    padding: 12px;
    display: flex;
    justify-content: space-between;
}

.login-container .form form .link-container a{
    color: rgba(0, 0, 0, 0.795);;
    font-size: 14px;
    background: #FFFFFF;
    text-decoration: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    margin: 3%;
}

.login-container .form form .link-container a .p{
    color: rgba(0, 0, 0, 0.795);;
    font-size: 14px;
    background: #FFFFFF;
    text-decoration: none;
    position: relative;
    font-weight: 600;
    display: flex;
}

.login-container .form form .link-container a:hover{
    transform:  translateX(3px) translateY(-3px);   
    transition: all 0.2s
}

@media(max-width: 425px){
    .login-container{
        width: 100%;
        margin: 0 auto;
    
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .login-container .form{  
        width: 80%;
    }
    
    .login-container .form form .link-container{
        background: #FFFFFF;
        padding: 3px;
        display: grid;
        justify-content: center;
    }
    .login-container .form form .link-container a{
        width: 100%;
    }

    .login-container .form form button{
        width: auto;
    }
    .login-container .form form input{
        width: auto;
    }
}