/* *{
 color: rgba(0, 0, 0, 0.795);
} */

.login-container{
    height: 100vh;
    max-height: 1120px;
    width: 100%;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: center;
}

.login-container .form{  
    box-shadow: -5px -5px 5px rgba(0, 0, 0, 0.30); 
    width: 100%;
    /* max-width: 350px; */
    background: #ffffff;;
    justify-content: center;
    text-align: center;
}

.login-container .form form input{
    width: 95%;
}

.login-container .form button{
    color: #FFFFFF;
    background: -webkit-gradient(linear, left top, right top, from(#c40505), to(#110000));
    border: none;
    border-radius: 8px;
    font-size: 16px;
    padding: 10px 8px;
    width: 320px;
    text-align: center;
    transition: filter 0.2s;
    display: inline-block;
    font-weight: 700;
}

.form button:hover{
    filter: brightness(70%) ;
}

.link-container{
    background: #FFFFFF;
    padding: 3px;
    display: flex;
    justify-content: space-between;
}

.form a{
    color: rgba(0, 0, 0, 0.795);;
    font-size: 14px;
    background: #FFFFFF;
    text-decoration: none;
    position: relative;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.form a .p{
    color: rgba(0, 0, 0, 0.795);;
    font-size: 14px;
    background: #FFFFFF;
    text-decoration: none;
    position: relative;
    font-weight: 600;
    display: flex;
}

.form a:hover{
    transform:  translateX(3px) translateY(-3px);   
    transition: all 0.2s
}

.form .h1{
    color: rgba(0, 0, 0, 0.795);
    font-size: 22px;
    background: #FFFFFF;
    text-decoration: none;
    border-right: 0px;
    border-left: 32px;
    position: relative;
    font-weight: 600;
    justify-content: center;
}

@media(max-width: 425px){
    .login-container{
        width: 100%;
        margin: 0 auto;
    
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .login-container .form{  
        width: auto;
    }
    
    .link-container{
        background: #FFFFFF;
        padding: 3px;
        display: grid;
        justify-content: center;
    }

    .login-container .form button{
        width: auto;
    }
    .login-container .form form input{
        width: auto;
    }
}